<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workout Frequency</title>
</head>

<body>
    <h1>Workout Builder</h1>

    <h2>Setting Up a Schedule</h2>


    <form action="/freq" method="POST">
        <label for="schedule">Select a workout split schedule:</label>
        <select name="schedule" id="schedule">
            <option value="null">---Pick a frequency---</option>
            <option value="threeX">Three times a week</option>
            <option value="fourX">Four times a week</option>
            <option value="sixX">Six times a week</option>
        </select>
        <button>Next</button>
    </form>



</body>

</html>